.banner-screen{
    height: 70vh;
    background-image: url("../../../source/bg/fly.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.banner-auth li {
    list-style: none;
    border: 1px solid gray;
    margin: 0.6rem auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.banner-auth li a{
text-decoration: none;
color: #0a1e29;
}